In [ ]:
import pymssql
import _mssql
from datetime import datetime, date
from decimal import Decimal

In [ ]:
pymssql.__version__

In [ ]:
server = 'h9ggwlagd1.database.windows.net'
user = 'modelread'
password = '4fSHRXwd4u'

In [ ]:
conn = pymssql.connect(server, user+"@"+server, password, "TMLDB")

In [ ]:
contract = 4736
date = datetime(2014, 1, 6, 10, 15, 0)

c2 = conn.cursor(as_dict=True)
c2.execute("SELECT TOP(1) * FROM cqgdb.tblbardata where idcontract = {0} AND datetime <= '{1}' ORDER BY datetime DESC".format(4736, date.isoformat() ))

for row in c2:
    print(row)

In [ ]:
contract = 11489000
date = datetime(2014, 1, 6, 10, 15, 0)

c2 = conn.cursor(as_dict=True)
c2.execute("SELECT TOP(1) * FROM cqgdb.tbloptiondata where idoption = {0} AND datetime <= '{1}' ORDER BY datetime DESC".format(contract, date.isoformat() ))

for row in c2:
    print(row)

In [ ]:
contract = 11489000
date = datetime(2013, 8, 28, 10, 15, 0) #datetime(2014, 1, 6, 10, 15, 0)

c2 = conn.cursor(as_dict=True)
c2.execute("SELECT TOP(1) * FROM cqgdb.tbloptioninputdata where idoptioninputsymbol = 15 AND optioninputdatetime < '{0}' ORDER BY optioninputdatetime DESC".format(date.date().isoformat() ))

for row in c2:
    print(row)